.task-wrapper {
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 7em;
    background-color: #a0aec0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.task-wrapper h3 {
    margin: 0;
}

#tasks {
    display: flex;
}

.status-column {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions > div {
    margin: 0 5px;
}

#task-create-modal-button {
    margin-top: 20px;
    margin-left: 20px;
}

.delete-button, .edit-button {
    background: none;
    border: 0;
    cursor: pointer;
}
